################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/test/Debug/test.tlog/test.lastbuildstate
/lib.VC.VC.opendb
*.opensdf
*.jpg
*.png
/test/Debug/test.tlog/unsuccessfulbuild
/lib.VC.db
*.sdf
*.log
*.ipdb
*.iobj
*.ipch
*.tlog
*.pdb
*.bsc
*.lib
*.exe
*.obj
*.sbr
*.dll
*.exp
*.ilk
*.idb
